* {
    margin: 0;
    padding: 0;
    
}

body {
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card-outer {
    height: 200px;
    width: 250px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 10px;
    transition: transform 1s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 10px;
}

.card-outer.flip {
    transform: rotateY(180deg);
}
img{
    height: 100%;
    width: 100%;
}

.card-front, 
.card-back {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
}


 .card-back{
    transform: rotateY(0deg);
}
.card-front {
    transform: rotateY(180deg);
}


/* CSS */
.scoreBtn {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.scoreBtn:hover,
.scoreBtn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.scoreBtn:active {
  opacity: .5;
}


.hidden {
    display: none;
}

#congratulations-box {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 200px;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}



